
@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

@using DinoDiner.Menu;

<h1>Menu</h1>

<h2>Combos</h2>

<div class="menu-item">
    @foreach (CretaceousCombo combo in Model.Menu.AvailableCombos)
    {
        <div class="combos">
            <h3>@combo.ToString()</h3>
            <h3>Price: $@combo.Price</h3>
            <h3>Calories: @combo.Calories</h3>
            @foreach (string ingredient in combo.Ingredients)
            {
                <h3>@ingredient</h3>
            }
            <p>-------------------------------------------------------------------------</p>
        </div>
    }
</div>
    

<h2>Entrees</h2>
<div class="menu-item">
    @foreach (Entree entree in Model.Menu.AvailableEntrees)
    {
        <div class="entrees">
            <h3>@entree.ToString()</h3>
            <h3>Price: $@entree.Price</h3>
            <h3>Calories: @entree.Calories</h3>
            @foreach(string ingredient in entree.Ingredients)
            {
                <h3>@ingredient</h3>
            }
            <p>-------------------------------------------------------------------------</p>
        </div>
    }
</div>

<h2>Sides</h2>
<div class="menu-item">
    @foreach (Side side in Model.Menu.AvailableSide)
    {
        <div class="sides">
            <h3>@side.ToString()</h3>
            <h3>Price: $@side.Price</h3>
            <h3>Calories: @side.Calories</h3>
            @foreach (string ingredient in side.Ingredients)
            {
                <h3>@ingredient</h3>
            }
            <p>-------------------------------------------------------------------------</p>
        </div>
    }
</div>

<h2>Drinks</h2>
<div class="menu-item">
    @foreach (Drink drink in Model.Menu.AvailableDrinks)
    {
        <div class="drinks">
            <h3>@drink.ToString()</h3>
            <h3>Price: $@drink.Price</h3>
            <h3>Calories: @drink.Calories</h3>
            @foreach (string ingredient in drink.Ingredients)
            {
                <h3>@ingredient</h3>
            }
            <p>-------------------------------------------------------------------------</p>
        </div>
    }
</div>

